* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

body {
  background-color: gainsboro;
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
  font-family: "Fascinate", Arial, Helvetica, sans-serif;
  font-size: 2em;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

blockquote {
  font-style: italic;
  text-align: center;
}

cite {
  font-style: normal;
}

aside {
  font-size: 1.04em;
  width: 92%;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 2em;
}

figure {
  margin: 0;
}

figcaption {
  padding-left: 1em;
  background-color: #b1bfbe;
}

footer {
  background-color: #b1bfbe;
  padding: 2em 0;
  margin: 0 auto;
  text-align: center;
  font-size: .85em;
}

nav li {
  display: block;
  margin: auto;
}

nav a {
  display: block;
  font-size: 1.1em;
  text-shadow: 1px 1px 5px darkgrey;
  padding: 6px 0;
  margin: .2em 0;
  background-color: #b1bfbe;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #257d75;
}

.wrapper {
  min-height: calc(100vh - 70px);
}

.logo {
  font-family: "Fascinate", Arial, Helvetica, sans-serif;
  font-size: 3em;
  text-shadow: 2px 2px 6px #053a35;
  margin-bottom: 0;
}

.group-navigation,
.navigation {
  display: flex;
  flex-direction: column;
}

.group-navigation {
  margin: 0 auto;
  align-items: stretch;
  width: 92%;
  max-width: 1260px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  font-size: 1.5em;
  line-height: 1.5em;
  background: url(../img/kamienie.JPG) center/cover no-repeat #797c7c;
  background-blend-mode: multiply;
  padding: 2em 0;
  min-height: 50vh;
}

.intro-quote {
  width: 92%;
  max-width: 980px;
}

.primary-content {
  line-height: 1.5;
  margin-bottom: 2em;
}

.main-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  font-size: 1.2em;
  background: url(../img/joga3.jpeg) center/cover no-repeat #797c7c;
  background-blend-mode: multiply;
  padding: 2em 0;
  min-height: 50vh;
}

.poem {
  color: ghostwhite;
  font-size: 1.1em;
  text-align: center;
  background: url(../img/jula.JPG) center/cover no-repeat #797c7c;
  background-blend-mode: multiply;
  padding: 2em 0.5em;
}

.art {
  color: ghostwhite;
  font-size: 1.1em;
  text-align: center;
  background: url(../img/sztuka.jpeg) center/cover no-repeat #797c7c;
  background-blend-mode: multiply;
  padding: 15em 0.5em;
}

.article {
  width: 92%;
  max-width: 1260px;
  margin: 0 auto;
  font-size: 1.04em;
}

.article-photo {
  max-width: 100vw;
}

.new-articles li {
  margin-bottom: 0.85em;
  line-height: 1.4;
}

.new-articles li:first-child {
  text-shadow: 1px 1px 5px darkgrey;
}

.main-photo {
  max-height: 100vh;
  max-width: 100vw;
}

@media screen and (min-width: 576px) {
  .logo {
    margin: 0.5em 0;
  }
  nav a {
    font-size: 1.2em;
    background-color: inherit;
    padding: 0;
    margin: 0;
  }
  nav li {
    display: inline-block;
    margin: 0 0.45em;
  }
  .group-navigation,
  .navigation {
    display: flex;
  }
  .group-navigation {
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
  }
  .intro {
    margin-top: 3em;
  }
}

@media screen and (min-width: 992px) {
  header {
    background-color: #c2c5c5;
    z-index: 2;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }
  figcaption {
    max-width: 740px;
  }
  .logo {
    margin: 0.3em 0;
  }
  .group-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  .main-content {
    display: flex;
    align-items: flex-start;
  }
  .article-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 1260px;
    margin: 0 auto;
  }
  .primary-content {
    flex: 2 65%;
    padding-right: 2.5em;
  }
  .main-quote {
    margin-bottom: 1rem;
  }
  .yoga-quote {
    max-width: 550px;
    margin: 0 auto;
  }
  .article-photo {
    max-width: 740px;
  }
  .aside {
    flex: 1 28%;
    padding-bottom: 0.85em;
    padding-top: 5em;
    margin-right: 1em;
    border-bottom: 1px solid black;
  }
}

@media screen and (min-width: 1619px) {
  .aside {
    max-width: 479px;
    margin-right: 6em;
  }
  .article-aside {
    margin-right: 1em;
  }
}
